<div class="container">
  <div class="heading-section">
    <p class="chat-name">{{ (chatData$ | async)?.name }}</p>
  </div>
  <div class="chat-section">
    <!-- Display chat messages only when a chat is selected -->
    <div class="chat-messages">
      <div *ngFor="let message of chatMessages" class="message-container"
        [ngClass]="{'message-right' : isCurrentUser(message.sender), 'message-left': !isCurrentUser(message.sender)}">
        <div class="message" [ngClass]="{'sender': isCurrentUser(message.sender)}">
          <div class="content">{{ message.content }}</div>
          <div class="metadata">{{ message.senderName }} - {{ formatTimestamp(message.timestamp) }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="input-section">
    <!-- Show input field and send button when a chat is selected -->
    <input type="text" class="custom-input" placeholder="Schreib eine Nachricht" [(ngModel)]="message" />
    <button *ngIf="message !== ''" class="input-button" (click)="sendMessage()">
      Senden
    </button>
  </div>
</div>


