.container {
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 margin-top: 30px;
 overflow: hidden;
 margin-bottom: 20px;
 height: 100vh;
}

.chats {
 flex: 1;
 margin-right: 20px;
 background-color: salmon;
}

.chat {
 flex: 1;
 margin-left: 20px;
 background-color: antiquewhite;
}

.logout {
 display: flex;
 align-items: center;
}

.user-bar {
 display: flex;
 align-items: center;
 margin-right: 10px;
}

.user-bar p {
 margin-right: 10px;
}

.logout-btn {
 padding: 8px 16px;
 border-radius: 4px;
 cursor: pointer;
 background-color: #007bff;
 color: #fff;
 border: none;
}

.user-bar button {
 margin-right: 10px;
}
